.calculator {
  width: 500px;
  height: 600px;
 background-color: #ffffe0;
  );
  border: 3px solid rgba(169, 169, 169, 0.212);
  margin: 20px auto 0;

  box-shadow: 4px 12px 18px -6px #000000;
}

h1 {
  text-align: center;
}

.display-container{
    height: 150px;
    width: 100%;
    background-color: greenyellow;
}

.display{
    height:100px;
    width: 80%;
    margin: auto;
    background-color: rgb(47, 255, 227);
}